#products {
  p {
    margin-bottom: 0;
    font-weight: 300;
  }
  a {
    text-decoration: none;
    font-size: 15px;
    padding: 10px 5px;
  }
}

.card-product {
  max-width: 250px;
  height: 270px;
  border-radius: 2px;
  img {
    max-width: 240px;
  }
  a {
    text-decoration: none;
    color: black;
  }
}
